$colour-philco-orange: #f18a00;
$colour-philco-gray-90: #1d1d1B;
$colour-philco-gray-70: #7D7D7D;
$colour-philco-white: #FFFFFF;
$colour-philco-success-green: #1Ec691;
$colour-philco-error-coral: #F54242;
$colour-philco-gray-30: #BBBBBB;
$colour-philco-gray-20: #F6F6F6;

$philco-standard-body-line-height: 1.2rem;
