@use "sass:map";
// Should only be used for Sass variables, mixins and functions; not contain any CSS.
// https://github.com/ionic-team/stencil-sass#inject-globals-sass-paths
// @see brand-colour variables in src/globals/brand-colour.ts, this and that should be updated together.


$screen-mobile-x-small: 350px;
$screen-mobile-small: 450px;
$screen-mobile-medium: 475px;
$screen-mobile-max: 576px;
$screen-tablet-max: 768px;
$screen-large: 968px;
$screen-desktop-max: 1200px;

$aspect-ratio-banners: percentage(0.30555); // 0.30555 is approx 352 / 1152

$colour-primary-blue: #2C089B;
$colour-secondary-green: #2AF135;
$colour-tertiary-coral: #FF7272;


$colour-brand-cc-red: #B30510; // Christmas Challenge
$colour-brand-wgmf-purple: #6E0887; // Women and Girls Match Fund

$colour-brand-gmf-green: #50B400; // Green Match Fund - deprecated name
$colour-brand-er-green: #50B400; // Earth Raise
$colour-brand-er-dark-blue: #0c0068;
$colour-brand-er-teal: #00a76d;
$colour-brand-er-dark-green: #002413;

$colour-brand-emf-yellow: #FFE500; // Emergency Match Fund
$colour-brand-c4c-orange: #F07D00; // Champions for Children
$colour-brand-mhf-turquoise: #62CFC9; // Mental Health Fund
$colour-brand-afa-pink: #BF387D; // Arts for Impact
$colour-brand-scw-magenta: #EE2C65; // Small Charity Week
$colour-brand-grey: #CBC8C8;

$colour-white: #FFFFFF;
$colour-black: #000000;

$colour-grey-extra-light: #D7D7D7;
$colour-grey-light: #E8E8E8;
$colour-grey-medium: #8A8A8A;
$colour-grey-dark: #4A4A4A;

$colour-grey-background: #F6F6F6; // Main app background in donate-frontend

/**
 * @see brandColour in src/globals/brand-colour.ts . This and that should be updated together.
 * Also see mixin icon-large - that repeats this list of colours and specifies another colour to go with each one, e.g. white or black.
 *
 */
$brandColours: (
    "primary": $colour-primary-blue,
    "secondary": $colour-secondary-green,
    "tertiary": $colour-tertiary-coral,

    "brand-cc-red": $colour-brand-cc-red,
    "brand-wgmf-purple": $colour-brand-wgmf-purple,
    "brand-gmf-green": $colour-brand-gmf-green, // deprecated name
    "brand-er-green": $colour-brand-er-green,
    "brand-er-dark-blue": $colour-brand-er-dark-blue,
    "brand-er-teal": $colour-brand-er-teal,
    "brand-emf-yellow": $colour-brand-emf-yellow,
    "brand-c4c-orange": $colour-brand-c4c-orange,
    "brand-afa-pink": $colour-brand-afa-pink,
    "brand-scw-magenta": $colour-brand-scw-magenta,
    "brand-mhf-turquoise": $colour-brand-mhf-turquoise,
    "brand-grey": $colour-brand-grey,

    "white": $colour-white,
    "black": $colour-black,
    "grey-extra-light": $colour-grey-extra-light,
    "grey-light": $colour-grey-light,
    "grey-medium": $colour-grey-medium,
    "grey-dark": $colour-grey-dark,

    "philco-orange": $colour-philco-orange,
    "philco-gray-90": $colour-philco-gray-90,
    "philco-gray-70": $colour-philco-gray-70,
    "philco-white": $colour-philco-white,
    "philco-success-green": $colour-philco-success-green,
    "philco-error-coral": $colour-philco-error-coral,
    "philco-gray-30": $colour-philco-gray-30,
    "philco-gray-20": $colour-philco-gray-20,
);

$spacer-0: 0;
$spacer-1: 5px;
$spacer-2: 10px;
$spacer-3: 15px;
$spacer-4: 30px;
$spacer-5: 45px;
$spacer-6: 60px;
$spacer-7: 90px;
$spacer-8: 120px;
$spacer-9: 150px;
$spacer-10: 180px;

$icon-size-large: 40px;
$upper-nav-height-desktop: 20px;
$nav-height-desktop: 70px;
