@use '../../globals/mixins.scss';
@use '../../globals/variables.scss';

@include mixins.backgrounds();
@include mixins.fills();
@include mixins.spacers();
@include mixins.text-colours();

:host {
  display: contents;
}

.container {
  @include mixins.standard-font();
  position: relative;
  background-size: cover;
  background-position: center center;
  padding: variables.$spacer-3;
  height: 100%;
  white-space: pre-wrap;
  .sleeve {
    padding: variables.$spacer-5 variables.$spacer-3;
    height: 100%;
    box-sizing: border-box;
    transition: all 1s ease-in-out;
  }
  &.add-animation-true:hover .sleeve {
    margin: -30px;
    padding: 60px;
    height: calc(100% + 60px);
  }
    .sleeve {
      @include mixins.corner-clip-medium-bottom-left();
  }
}
