@include alignments();
@include spacers();

:host {
  display: contents;
}

.container {
  &.biggive {
    @include headings-biggive();
    // We reset size here but then rely on something else to make it bigger. Confusing
    // but not worth refactoring rn.
    @include standard-font();
  }

  &.philco {
    @include headings-philco();
  }

  @each $key, $colour in $brandColours {
    .heading-colour-#{$key} { color: $colour; }
  }
  display: flex;

  h1,h2,h3,h4,h5 {
    margin: 0;
    padding: 0;
    width: 100%;
    svg {
      height: 0.7em;
      margin-right: 0.2em;
    }
  }

  @each $key, $colour in $brandColours {
    .icon-colour-#{$key} svg path { fill: $colour; }
  }

}
