@use '../../globals/mixins.scss';
@use '../../globals/variables.scss';

:host {
  display: contents;
}


.container {
  @include mixins.standard-font();
  margin: variables.$spacer-4 0;
  text-align: center;
  a {
    display: inline-block;
    .text {
      display: block;
    }
  }
}