@use '../../globals/mixins.scss';
@use '../../globals/variables.scss';

@include mixins.headings-biggive();
@include mixins.spacers();
@include mixins.text-colours();

:host {
  display: contents;
  @include mixins.standard-font();
}

.container {
  @include mixins.section-container();
  position: relative;
  text-align: center;
}


.content-wrap {
  .slug {
    margin: 0;
    padding: 0;
  }
  h2 {
    margin: 0 0 variables.$spacer-1 0;
    padding: 0;
  }
  .subtitle {
    margin: 0 0 variables.$spacer-1 0;
    padding: 0;
  }
  .teaser {
    margin: variables.$spacer-3 auto variables.$spacer-3 auto;
    max-width: 400px;
    padding: 0;
  }
}

@media screen and (max-width: variables.$screen-mobile-max) {
  .content-wrap {
    text-align: right
  }
  h2 {
    padding: 40px 0;
  }
}
