@use '../../globals/mixins.scss';
@use '../../globals/philco-variables.scss';
@use '../../globals/variables.scss';

@include mixins.spacers();

:host {
  display: contents;
}

.container {
  font-family: inherit;
  a {
    display: inline-block;
    &.full-width-true {
      display: block;
    }
  }
  &.centered-true {
    text-align: center;
  }
}

.button {
    @include mixins.button();
    &.size-small {
      @include mixins.button-small();
    }

    &.button.rounded-true {
      @include mixins.button-rounded();
    }
}

@each $brand, $colour in variables.$brandColours {
  .button-#{$brand} {
    color: variables.$colour-white; // may be overridden by following rules. Later CSS rules have priority.
    background-color: $colour;
    border-color: $colour;
    &:hover {
      color: $colour;
      background-color: variables.$colour-white; // may be overriden by following rules
    }
  }
}

.button-secondary {
  color: variables.$colour-black;
  &:hover {
    color: variables.$colour-black;
    background-color: variables.$colour-white;
    border-color: variables.$colour-black;
  }
}

.button-brand-grey {
  color: variables.$colour-white;
  &:hover {
    background-color: variables.$colour-black;
  }
}

.button-brand-mhf-turquoise {
  &:hover {
    background-color: variables.$colour-black;
  }
}

.button-brand-afa-pink {
  &:hover {
    background-color: variables.$colour-black;
  }
}

.button-white {
  color: variables.$colour-primary-blue;
  &:hover {
    color: variables.$colour-black;
    background-color: variables.$colour-secondary-green;
  }
}

.button-philco-gray-90 {
  @include mixins.font-size-philco-medium();
  color: philco-variables.$colour-philco-white;
  &:hover {
    color: philco-variables.$colour-philco-gray-90;
    background-color: philco-variables.$colour-philco-orange;
  }
}

.button-philco-orange {
  @include mixins.font-size-philco-medium();
  color: philco-variables.$colour-philco-gray-90;
  &:hover {
    color: philco-variables.$colour-philco-white;
    background-color: philco-variables.$colour-philco-gray-90;
  }
}

.button-philco-white {
  @include mixins.font-size-philco-medium();
  color: philco-variables.$colour-philco-gray-90;
  &:hover {
    color: philco-variables.$colour-philco-gray-90 !important;
    background-color: philco-variables.$colour-philco-orange !important;
  }
}

.container.philco a {
  border-color: transparent;
}

.container.disabled.philco .button {
  cursor: not-allowed;
  background-color: philco-variables.$colour-philco-gray-30 !important;

  color: philco-variables.$colour-philco-white;
  &:hover {
    background-color: philco-variables.$colour-philco-gray-30;
    color: philco-variables.$colour-philco-white;
  }
}

.button-black {
  color: variables.$colour-white;
  &:hover {
    background-color: variables.$colour-white;
  }
}

.button-grey-extra-light {
  color: variables.$colour-black;
  &:hover {
    background-color: variables.$colour-black;
  }
}

.button-grey-light {
  color: variables.$colour-black;
  &:hover {
    background-color: variables.$colour-black;
  }}

.button-grey-medium {
  color: variables.$colour-white;
  &:hover {
    background-color: variables.$colour-white;
  }
}

.button-grey-dark {
  color: variables.$colour-white;
  &:hover {
    background-color: variables.$colour-white;
  }
}

.button-rounded {
    @include mixins.button-rounded();
 }

 @each $brand, $colour in variables.$brandColours {
    .button-clear-#{$brand} {
        color: $colour;
        background-color: transparent;
        text-decoration: underline;
        border: 0;
        padding-left: 0;
        padding-right: 0;
        &:hover {
          color: $colour;
          text-decoration: none;
          background-color: transparent;
        }
    }
}
