:host {
  display: block !important;
}

:host(.fixed) {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

* {
  @include philco-body-font();
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.mobile-only {
  display: none !important;
}

.row-top {
  padding: $spacer-2 $spacer-4;
  background-color: $colour-primary-blue;
  display: flex;
  max-height: $icon-size-large + 2 * $spacer-2;
}

nav {
  top: 0;
  left: 0;
  width: 100%;
  height: $nav-height-desktop;
  background: $colour-philco-gray-90;
  z-index: 99;
  box-shadow: 0 1px 2px rgb(0 0 0 / 20%);

  .navbar {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 0 50px;
    background-color: $colour-philco-gray-90;
    color: $colour-philco-white;

    .nav-links {
      line-height: $nav-height-desktop;
      height: 100%;

      .sidebar-logo {
        display: none;
      }

      .links {
        display: flex;

        li {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: space-between;
          list-style: none;
          padding: 0 30px;

          a {
            height: 100%;
            text-decoration: none;
            white-space: nowrap;
            color: $colour-philco-white;
            font-size: 17px;
            font-weight: 500;
          }
        }
      }
    }

    .logo {
      min-width: 10px;
      width: 100px;

      img {
      height: 100%;
        width: 100%;
        object-fit: contain;
      }

      a {
        font-size: 30px;
        color: $colour-philco-white;
        text-decoration: none;
        font-weight: 600;
        display: grid;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
    }

    .bx-menu {
      display: none;
    }
  }
}

@media (max-width: 1200px) {
  nav {
    .navbar {
      .logo {
        min-width: 100px;
        width: 100px;
        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      .nav-links {
        .links {
          li {
            padding: 0 7px;

            a {
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $screen-large) {
  .mobile-only {
    display: block !important;
  }

  .row-top {
    display: none;
  }

  nav {
    height: 60px;
    .navbar {
      padding: 0px 25px;
      .bx-menu {
        display: block;
        font-size: 25px;
        color: black;
      }

      .nav-links {
        position: fixed;
        top: 0;
        left: -100%;
        display: block;
        max-width: 450px;
        width: 100%;
        background: $colour-philco-gray-90;
        line-height: 40px;
        padding: 20px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.5s ease;
        z-index: 1000;
        overflow-y: scroll;

        .sidebar-logo {
          display: flex;
          align-items: center;
          justify-content: space-between;

          a {
            display: contents;

            #mobileLogo {
              width: 130px;
            }

          }

          #x {
            margin-right: 15px;
          }

          i {
            font-size: 25px;
            color: black;
          }
        }

        .mobile-social-icon-wrap {
          margin-top: 20px;
        }

        .links {
          display: block;
          margin-top: 20px;

          li {
            display: block;
            border-bottom: 1px solid #e6e6e6;

            a {
              width: 100%;
              display: block;
            }
          }
        }
      }
    }
  }

  @media (max-width: 370px) {
    nav .navbar .nav-links {
      max-width: 100%;
    }
  }
}

.arrow {
  margin-left: 5px;
  text-align: center;
  display: inline-block;
  color: black;
  transition: all 0.3s ease;

  &.transform-90 {
    transform: rotate(90deg);
  }
}
