@include spacers();

// Includes CSS taken from https://moderncss.dev/custom-select-styles-with-pure-css/

:host {
  display: contents;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

select {
  appearance: none;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  display: grid;
  background-color: $colour-white;
  align-items: center;
}
select.grey {
  background-color: $colour-grey-background;
}
.selectWrapper {
  position: relative;
}
.prompt {
  position: absolute;
  z-index: 2;
  font-size: small;
  top: -1em;
  background-color: $colour-white;
  left: 4em;
  padding-left: 1em;
  padding-right: 1em;
  color: $colour-primary-blue;
}
.prompt.grey {
  background-color: $colour-grey-background;
}

.dropdown {
  @include standard-font();
  position: relative;
  text-align: left;
  &.select-style-bordered {
    .sleeve {
      @include font-size-medium();
      padding: 2px;
      position: relative;
      background-color: $colour-primary-blue;
      @include corner-clip-small-top-right();
      select {
        color: $colour-primary-blue;
        display: block;
        position: relative;
        padding: 10px 80px 10px 10px;
        clip-path:
          polygon(
              0% 0%,     /* top left */
              0% 0%,     /* top left */
              calc(100% - 14px) 0%,    /* top right */
              100% 14px,   /* top right */
              100% 100%,  /* bottom right */
              100% 100%,  /* bottom right */
              0 100%,   /* bottom left */
              0 100%      /* bottom left */
          );
        span.placeholder.grey {
          background-color: $colour-grey-background;
        }
      }
      div.arrow {
        position: absolute;
        right: 20px;
        top: 18px;
        width: 10px;
        height: 10px;
        background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgOSA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNS4yMzcxNiA2LjYyNDkzQzQuOTAzMjMgNy4xMjUwMiA0LjA5NyA3LjEyNTAyIDMuNzYzMDggNi42MjQ5M0wwLjEyMzg2OCAxLjE3MDYzQy0wLjIxOTk0IDAuNjU1NDU5IDAuMTkyNjMgMS44MzcxZS0wNyAwLjg2MDkwOCAyLjQyMTMyZS0wN0w4LjEzOTMzIDguNzg0MzJlLTA3QzguODA3MTggOS4zNjgxN2UtMDcgOS4yMTk3NSAwLjY1NTQ1OSA4Ljg3NjM3IDEuMTcwNjNMNS4yMzcxNiA2LjYyNDkzWiIgZmlsbD0iIzJDMDg5QiIvPgo8L3N2Zz4K');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        z-index: 1;
        pointer-events: none;
      }
    }
    .sleeve:focus-within {
      background-color: $colour-tertiary-coral;
    }
  }
  &.select-style-underlined {
    .sleeve {
      @include dropdown-underlined();
    }
  }
  &.inherit-colour select{
   color: inherit !important;
  }

  select {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
    z-index: 1;
    left: 0;
    right: 0;
  }
  &.active .options {
      display: block;
  }
}
.dropdown.noprompt {
  margin-top: 0;
}
.options.grey {
  background-color: $colour-grey-background;
}
