@include spacers();

:host {
  display: contents;
}

::slotted([slot=label]) {
  display: inline-block;
  line-height: 1.2; // Slightly less than other text to help with long charity names.
}

.text-input {
  .currency-symbol {
    position: absolute;
  }
  position: relative;
  .prompt {
    position: relative;
    z-index: 2;
    font-size: small;
    top: 1em;
    left: 4em;
    color: $colour-primary-blue;
    max-width: calc(100% - 10em);
    display: inline-block;

    > span {
      padding-left: 1em;
      padding-right: 1em;
      background-color: $colour-grey-background;
    }
  }


  &.philco .prompt {
    color: $colour-philco-gray-90;

    > span {
      background-color: $colour-philco-white;
    }
  }

  @include standard-font();
  position: relative;
  text-align: left;
  &.select-style-bordered.biggive{
    .sleeve {
      @include font-size-large();
      font-weight: bolder;
      padding: 2px;
      position: relative;
      background-color: $colour-primary-blue;
      @include corner-clip-small-top-right();
      .inner-sleeve {
        background-color: $colour-grey-background;
        color: $colour-primary-blue;
        display: block;
        position: relative;
        padding: 10px 30px 10px 10px;
        clip-path:
          polygon(
            0% 0%,     /* top left */
            0% 0%,     /* top left */
            calc(100% - 14px) 0%,    /* top right */
            100% 14px,   /* top right */
            100% 100%,  /* bottom right */
            100% 100%,  /* bottom right */
            0 100%,   /* bottom left */
            0 100%      /* bottom left */
          );
          &:after {
            content: '';
            display: block;
            position: absolute;
            right: 20px;
            top: 18px;
            width: 10px;
            height: 10px;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
          }
      }
      &.focused {
        background-color: $colour-secondary-green;
      }
    }
  }
  &.select-style-bordered.philco {
    .inner-sleeve {
      border: 2px solid $colour-philco-gray-90;
      border-radius: 6px;
      padding: 12px;
    }
  }
}

