@include backgrounds();
@include spacers();
@include text-colours();

:host {
  display: contents;
  @include standard-font();

  --ticker-end-left: -200%;
}

@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(var(--ticker-end-left), 0, 0);
  }
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 1;

  .main-message-wrap {
    position: absolute;
    z-index: 1;
    padding: $spacer-2 $spacer-4;
    left: 0;
    top: 0;
    @include font-size-large();
    font-weight: 600;
    max-width: 33.3%;
  }

  .ticker-wrap {
    @include font-size-medium();
    padding: calc($spacer-2 - 4px) $spacer-4 $spacer-2 0;
    min-height: 17px;
    overflow: hidden;
    position: relative;

    .sleeve {
      will-change: transform; // https://web.dev/stick-to-compositor-only-properties-and-manage-layer-count/
      display: inline-flex;
      position: absolute;
      top: 4px;
      height: 24px;
      min-width: 100%;
      left: 100%;
      white-space: nowrap;

      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-name: ticker;
      // TS overrides the specific timings once the width of ticker elements is known.
      animation-duration: 10s;

      @media (prefers-reduced-motion) {
        animation-name: none !important; // Turn off movement when needed for a11y.
      }
    }

    .sleeve-delayed-copy {
      // We set between 0 and 3 copies to `display: inline-flex` in TS, depending on the size
      // of the items and container.
      display: none;
      white-space: nowrap;
      max-height: 24px;
    }
  }
}

@media screen and (max-width: $screen-tablet-max) {
  .container {
    .main-message-wrap {
      font-size: 15px;
      line-height: 20px;
      max-width: 42%;
      padding: $spacer-2;
    }
  }
}
