@use '../../globals/mixins.scss';

@include mixins.spacers();
@include mixins.text-colours();

:host {
  display: block;
}

.container {
  &.biggive {
    @include mixins.headings-biggive();
  }

  &.philco {
    @include mixins.headings-philco();
  }

  img {
    width: 100%;
    height: auto;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  &.max-width-10 .sleeve { @include mixins.max-width-10(); }
  &.max-width-15 .sleeve { @include mixins.max-width-15(); }
  &.max-width-20 .sleeve { @include mixins.max-width-20(); }
  &.max-width-25 .sleeve { @include mixins.max-width-25(); }
  &.max-width-30 .sleeve { @include mixins.max-width-30(); }
  &.max-width-35 .sleeve { @include mixins.max-width-35(); }
  &.max-width-40 .sleeve { @include mixins.max-width-40(); }
  &.max-width-45 .sleeve { @include mixins.max-width-45(); }
  &.max-width-50 .sleeve { @include mixins.max-width-50(); }
  &.max-width-55 .sleeve { @include mixins.max-width-55(); }
  &.max-width-60 .sleeve { @include mixins.max-width-60(); }
  &.max-width-65 .sleeve { @include mixins.max-width-65(); }
  &.max-width-70 .sleeve { @include mixins.max-width-70(); }
  &.max-width-75 .sleeve { @include mixins.max-width-75(); }
  &.max-width-80 .sleeve { @include mixins.max-width-80(); }
  &.max-width-85 .sleeve { @include mixins.max-width-85(); }
  &.max-width-90 .sleeve { @include mixins.max-width-90(); }
  &.max-width-95 .sleeve { @include mixins.max-width-95(); }
}

