@use '../../globals/mixins.scss';
@use '../../globals/philco-variables.scss';
@use '../../globals/variables.scss';

@include mixins.image-alignment();
@include mixins.spacers();
@include mixins.text-colours();

:host {
  display: contents;
}

.container {
  @include mixins.all-round-shadow();
  @include mixins.standard-font();
  height: 100%;
  background-color: white;
  &.philco {
    @include mixins.philco-body-font();
    line-height: philco-variables.$philco-standard-body-line-height;
    background-color: transparent;
    .image-wrap {
      overflow: hidden;
      svg {
        width: 100px;
        height: 90px; /* = 86/96*100 */
      }
    }
  }
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  padding: variables.$spacer-6;
  .image-wrap {
    text-align: center;
    margin-bottom: variables.$spacer-3;
    svg {
      height: 30px;
      width: auto;
      margin: auto;
    }
  }
  .quote {
    margin-bottom: variables.$spacer-4;
  }

  @each $key, $colour in variables.$brandColours {
    &.quote-icon-colour-#{$key} .image-wrap path { fill: $colour; }
  }


  @media screen and (max-width: variables.$screen-tablet-max) {
    padding: variables.$spacer-5;
    svg {
      width: 40px;
      height: 40px;
    }
  }

  @media screen and (max-width: variables.$screen-mobile-max) {
    padding: variables.$spacer-4;
    @include mixins.font-size-small();

    svg {
      width: 30px;
      height: 30px;
    }
  }

  @media screen and (max-width: variables.$screen-mobile-small) {
    padding: variables.$spacer-3;
  }

  &.philco .attribution {
    font-weight: bolder;
    color: philco-variables.$colour-philco-gray-70;
  }
}
