@use '../../globals/mixins.scss';
@use '../../globals/philco-variables.scss';
@use '../../globals/variables.scss';

@include mixins.spacers();

:host {
  display: contents;
}

.container {
  overflow: hidden;
  position: relative;
  text-align: center;
  .sleeve {
    @include mixins.section-container();
    padding: variables.$spacer-4;

    @media screen and (max-width: variables.$screen-desktop-max) {
      // similar to e.g. biggive-hero-image which was set to use variables.$spacer-3 first.
      padding: variables.$spacer-3;
    }
  }
}

.container.full-bleed {
  // from https://stackoverflow.com/questions/22083157/extend-background-color-of-header-beyond-container-with-css
  box-shadow: 0 0 0 100vmax variables.$colour-primary-blue;
  clip-path: inset(0 -100vmax);
}

.container.style-top-crop-right:before {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: translateY(1px);
}

.container.style-top-crop-left:before {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(100% 0, 100% 0%, 100% 100%, 0 100%);
  transform: translateY(1px);
}

.container.style-bottom-crop-right:after {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  transform: translateY(-1px);
}

.container.style-bottom-crop-left:after {
  content: '';
  display: block;
  height: 75px;
  clip-path: polygon(0 0, 100% 0, 100% 100%);
  transform: translateY(-1px);
}

.container .sleeve {
  position: relative;
  text-align: left;
}

.container.max-width-10 .sleeve { @include mixins.max-width-10(); }
.container.max-width-15 .sleeve { @include mixins.max-width-15(); }
.container.max-width-20 .sleeve { @include mixins.max-width-20(); }
.container.max-width-25 .sleeve { @include mixins.max-width-25(); }
.container.max-width-30 .sleeve { @include mixins.max-width-30(); }
.container.max-width-35 .sleeve { @include mixins.max-width-35(); }
.container.max-width-40 .sleeve { @include mixins.max-width-40(); }
.container.max-width-45 .sleeve { @include mixins.max-width-45(); }
.container.max-width-50 .sleeve { @include mixins.max-width-50(); }
.container.max-width-55 .sleeve { @include mixins.max-width-55(); }
.container.max-width-60 .sleeve { @include mixins.max-width-60(); }
.container.max-width-65 .sleeve { @include mixins.max-width-65(); }
.container.max-width-70 .sleeve { @include mixins.max-width-70(); }
.container.max-width-75 .sleeve { @include mixins.max-width-75(); }
.container.max-width-80 .sleeve { @include mixins.max-width-80(); }
.container.max-width-85 .sleeve { @include mixins.max-width-85(); }
.container.max-width-90 .sleeve { @include mixins.max-width-90(); }
.container.max-width-95 .sleeve { @include mixins.max-width-95(); }



.container .sleeve:before {
  content: '';
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  top: 0;
  bottom: 0;
}

@each $brand, $colour in variables.$brandColours {
  .container.background-color-#{$brand}:before,
  .container.background-color-#{$brand}:after,
  .container.background-color-#{$brand} .sleeve:before,
  .container.background-color-#{$brand} .sleeve {
    background-color: $colour;
    @if $brand == 'white' or $brand == 'grey-extra-light' or $brand == 'grey-light' {
      color: variables.$colour-black;
    } @else if $brand == 'philco-white' {
      color: philco-variables.$colour-philco-gray-90;
    } @else {
      color: variables.$colour-white;
    }
  }
}

