@use '../../globals/mixins.scss';
@use '../../globals/philco-variables.scss';
@use '../../globals/variables.scss';

:host {
  display: contents;
}

.footer {
  @include mixins.philco-body-font();
  line-height: philco-variables.$philco-standard-body-line-height;
  color: philco-variables.$colour-philco-gray-90;
}

nav {
  width: calc(33.3% - 20px);
  margin: 0;
  padding: 0;
  .heading {
    @include mixins.philco-heading-font();
    @include mixins.font-size-large();
    text-transform: uppercase;
    border-bottom: 1px solid philco-variables.$colour-philco-gray-90;
    padding-bottom: variables.$spacer-2;
    margin-bottom: variables.$spacer-2;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 15px;
    }
  }
}

nav ul li a {
  color: philco-variables.$colour-philco-gray-90;
  text-decoration: none;
}

.row-logo {
  background-color: philco-variables.$colour-philco-white;
  padding: 100px variables.$spacer-6 0 variables.$spacer-6;
  img {
    height: 34px;
  }
}

.row-top {
  background-color: philco-variables.$colour-philco-white;
  // variables.$icon-size-large happens to be approx. the UA-default top heading margin that we relied upon last.
  padding: variables.$icon-size-large variables.$spacer-6 variables.$spacer-6 variables.$spacer-6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer .row-bottom {
  background-color: variables.$colour-black;
  color: philco-variables.$colour-philco-white;
  padding: variables.$spacer-6 variables.$spacer-6 variables.$spacer-3 variables.$spacer-6;
  border-top: 1px solid variables.$colour-white;

  .postscript-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: variables.$screen-tablet-max) {
      flex-direction: column;
    }
  }

  .nav.nav-postscript {
    text-align: right;
    flex-grow: 1;
    color: philco-variables.$colour-philco-white;

    @media screen and (max-width: variables.$screen-tablet-max) {
      text-align: center;
    }
  }

  .nav-postscript li {
    display: inline-block;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }

    @media screen and (max-width: variables.$screen-tablet-max) {
      display: block;
      width: 100%;
      margin-left: 0;
    }

    a {
      color: philco-variables.$colour-philco-white;
    }
  }

  .social-icon-wrap {
    border-top: 1px solid variables.$colour-white;
    padding-top: variables.$spacer-4;
    margin-top: variables.$spacer-4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: variables.$spacer-4;

    .social-icon-item {
      margin: 0 variables.$spacer-3;
    }
  }

  p {
    text-align: center;
  }
}

@media screen and (max-width: variables.$screen-tablet-max) {
  .row-logo {
    padding: variables.$spacer-5 variables.$spacer-3 variables.$spacer-3 variables.$spacer-3;
  }

  .row-top {
    padding: variables.$spacer-4 variables.$spacer-3 variables.$spacer-3 variables.$spacer-3;
  }

  nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: variables.$spacer-4;
  }
}
