:host {
  display: contents;
}

.footer {
  @include philco-body-font();
  color: $colour-philco-gray-90;
}

nav {
  width: calc(33.3% - 20px);
  margin: 0;
  padding: 0;
  .heading {
    @include philco-heading-font();
    @include font-size-large();
    text-transform: uppercase;
    border-bottom: 1px solid $colour-philco-gray-90;
    padding-bottom: $spacer-2;
    margin-bottom: $spacer-2;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      margin: 0;
      padding: 0;
      list-style-type: none;
      margin-top: 15px;
    }
  }
}

nav ul li a {
  color: $colour-philco-gray-90;
  text-decoration: none;
}

.row-logo {
  background-color: $colour-philco-white;
  padding: 100px $spacer-6 0 $spacer-6;
  img {
    height: 34px;
  }
}

.row-top {
  // @todo-COM-104: Replace background image below with a black-on-white PhilCo logo
  //background-image: url(/assets/images/biggive-triangle-green.svg);
  background-repeat: no-repeat;
  background-size: auto 75px;
  background-position: $spacer-6 30px;
  background-color: $colour-philco-white;
  padding: 0 $spacer-6 $spacer-6 $spacer-6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .button-wrap {
    margin-top: $spacer-6;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

footer .row-bottom {
  background-color: $colour-black;
  color: $colour-philco-white;
  padding: $spacer-6 $spacer-6 $spacer-3 $spacer-6;
  border-top: 1px solid $colour-white;

  .postscript-wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $screen-tablet-max) {
      flex-direction: column;
    }
  }

  .nav.nav-postscript {
    text-align: right;
    flex-grow: 1;
    color: $colour-philco-white;

    @media screen and (max-width: $screen-tablet-max) {
      text-align: center;
    }
  }

  .nav-postscript li {
    display: inline-block;
    margin-left: 1rem;

    &:first-child {
      margin-left: 0;
    }

    @media screen and (max-width: $screen-tablet-max) {
      display: block;
      width: 100%;
      margin-left: 0;
    }

    a {
      color: $colour-philco-white;
    }
  }

  .social-icon-wrap {
    border-top: 1px solid $colour-white;
    padding-top: $spacer-4;
    margin-top: $spacer-4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $spacer-4;

    .social-icon-item {
      margin: 0 $spacer-3;
    }
  }

  p {
    text-align: center;
  }
}

@media screen and (max-width: $screen-tablet-max) {
  .row-logo {
    padding-left: $spacer-3 $spacer-3 0 $spacer-3;
  }
  .row-top {
    padding: 0 $spacer-3 $spacer-3 $spacer-3;
  }
}

@media screen and (max-width: $screen-tablet-max) {
  nav {
    width: 100%;
    margin-right: 0;
    margin-bottom: $spacer-4;
  }

  .row-logo {
    padding-top: 80px;
    padding-left: 15px;
  }

  .row-top {
    background-size: auto 50px;
    padding-top: 0;
    padding-left: 15px;
    background-position: 15px 30px;

    .button-wrap * {
      width: 100% !important;
    }
  }
}
